<div class="row">
  <div class="col-xs-12">
    <div class="menu-container">
      <div class="row">
        <div class="col-xs-12">
            <div class="menu-tab" (click)="onNavigateMenuLandingPage()">
                <span>cp1000</span>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="menu-tab">
              <span>cp2000</span>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="menu-tab">
              <span>cp3000</span>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="menu-tab">
              <span>cp4000</span>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="menu-tab">
              <span>cp8000</span>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="menu-tab">
              <span>cprys</span>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="menu-tab">
              <span>cp-special</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>