<div class="row">
  <!-- START: USER CONTROL -->
  <div class="col-xs-12">
    <div class="user-control-container">
      <div class="row">
        <div class="col-xs-6">
          <div class="user-greetings-span-container">
              <span class="greetings-default">hi</span>
              <span class="greetings-user-name">user</span>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="user-tabs-container">
            <span class="tab-menu tab-border tab-selected">menu</span>
            <span class="tab-forum tab-border">forum</span>
            <span class="tab-logout">logout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: USER CONTROL -->

  <!-- START: HEADER -->
  <div class="col-xs-12">
    <div class="header-container">
      <span class="header-span-container">
        <span class="header-span-1">tgp</span>
        <span class="header-span-2">reports manual</span>
      </span>
    </div>
  </div>
  <!-- END: HEADER -->
</div>