<!--<div class="row no-padding">
  <div class="col-xs-12">
    <div class="header-container">
      <span class="header-span-container">
        <span class="header-span-1">tgp</span>
        <span class="header-span-2">reports manual</span>
      </span>
    </div>
  </div>
</div>-->
<!--
<div class="row no-padding">
  <div class="col-xs-12">
    <div class="row no-padding b-black">
      <div class="col-xs-12">

        <div class="col-xs-6 b-blue">header1</div>
        <div class="col-xs-6 b-blue">header2</div>
      </div>
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-xs-12">
    <div class="user-control-container">
      <div class="row">
        <div class="col-xs-6">
          <div class="user-greetings-span-container">
              <span class="greetings-default">hi</span>
              <span class="greetings-user-name">user</span>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="user-tabs-container">
            <span class="tab-menu tab-selected">menu</span>&nbsp;|
            <span class="tab-forum">forum</span>&nbsp;|
            <span class="tab-logout">logout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="header-container">
      <span class="header-span-container">
        <span class="header-span-1">tgp</span>
        <span class="header-span-2">reports manual</span>
      </span>
    </div>
  </div>
</div>