<div class="row">
  <div class="col-xs-12">
    <div class="menu-section b-blue">
      
      <!--<span>Category:</span><span>{{ menuResult?.cpCategory }}</span><br /><br />
      <span>Category:</span><span>{{ menuResult?.cp1000SP1 }}</span><br />
      <span>Category:</span><span>{{ menuResult?.cp1000SP2 }}</span><br />
      -->
      <!--<span>Title:</span><span>{{ menuResult?.stepTitle }}</span><br />-->
      <!--<span>Description:</span><span>{{ menuResult?.stepDescription }}</span><br />-->
      <!--<span>image:</span><span><img [src]= "menu.menuStepImage" alt="{{ menu.menuTitlte }}" class="img-responsive" style="max-height: 50px;" /></span>      -->
    </div>
  </div>
</div>