<div class="row no-padding">
  <div class="col-xs-12">
    <div class="login-container">
      <div class="login-wrapper">
        <div class="username-container">
          <div class="username-input-container">
            <input type="text" />
          </div>

          <div class="username-label-container">
            <span>username</span>
          </div>
        </div>

        <div class="password-container">
          <div class="password-input-container">
            <input type="password" />
          </div>

          <div class="password-label-container">
            <span>password</span>
          </div>
        </div>

        <div class="submit-container">
            <button (click)="onNavigateMenu()">
              <span>enter</span>
            </button>
        </div>

      </div>
    </div>
  </div>
</div>