@import "../../../styles";

/* USERNAME & PASSWORD LABELS STYLE */
@mixin label-style($line-height){
    width: 100%;
    line-height: $line-height;
    color: $primary-color-gold;
    text-align: left;
}

.login-container{
    font-size: 12px;
    font-family: $primary-font;
    text-align: center;
    margin: 50px 0;

    .login-wrapper{
        // width: 200px;
        @include border-style-1($border-line-width: 2px);

        padding: 10px 0 20px 0;
        
        display: inline-block;
        vertical-align: middle;   
    }
}

.username-container, .password-container{
    margin: 0 0 5px 0;
    padding: 0 30px;

    .username-label-container, .password-label-container{
        @include label-style($line-height:12px);
    }

    input{
        @include input-style-1($border-line-width: 2px);
    }

}

.submit-container{
    margin: 15px 0 0 0;
    padding: 0 30px;
    text-align: center;

    button{
        @include border-style-2($border-line-width: 2px);
        @include transition (all 1s ease-in-out);

        &:hover{
            @include hover-effect-1;
        }
        
        &:focus{
            @include focus-effect-1;
        }

        span{
            color: $primary-color-orange-1;
            font-weight: bold;
            @include transition (all 1s ease-in-out);
        }
    }
}






/* MEDIA QUERIES */
/* MEDIA QUERY: 470px */
@media (min-width: 470px){
    .login-container{
            font-size: 14px;
        .login-wrapper{
            padding: 15px 0 25px 0;
            width: 250px;
        }
    }

    .username-container, .password-container{
        margin: 0 0 10px 0;
        padding: 0 40px;
        .username-label-container, .password-label-container{
            @include label-style($line-height:14px);
        }

        input{
            @include input-style-1($border-line-width:2px);
        }
    }

    .submit-container{
        margin: 20px 0 0 0;
        padding: 0 40px;
    }

}

/* MEDIA QUERY: 630px */
@media (min-width: 630px){
    .login-container{
            font-size: 15px;
        .login-wrapper{
            @include border-style-1($border-line-width: 3px);
            padding: 20px 0 30px 0;
            width: 300px;
        }
    }

    .username-container, .password-container{
        margin: 0 0 15px 0;
        padding: 0 50px;
    }
    
    .submit-container{
        margin: 30px 0 0 0;
        padding: 0 50px;

        button{
            @include border-style-2($border-line-width: 3px);
        }
    }

}

/* MEDIA QUERY: 768px */
@media (min-width: 768px){
    .login-container{
        font-size: 16px;
        .login-wrapper{
            padding: 30px 0 40px 0;
            width: 350px;
        }
    }

    .username-container, .password-container{
        margin: 0 0 20px 0;
        padding: 0 55px;
    }

    .submit-container{
        margin: 35px 0 0 0;
        padding: 0 55px;
    }

}

/* MEDIA QUERY: 1024px */
@media (min-width: 1024px){
    .login-container{
        .login-wrapper{
            @include border-style-1($border-line-width: 4px);
        }
    }

     .submit-container{
        margin: 40px 0 0 0;

        button{
            @include border-style-2($border-line-width: 4px);
        }
    }
}
