/* You can add global styles to this file, and also import other style files */
/* FONT */
$primary-font: Century Gothic, Arial, Helvetica, sans-serif;

/* COLOR PALETTE */
$primary-color-gold: #de9700;
$primary-color-orange-1: #dd6a03;
$primary-color-orange-2: #ac5304;
$primary-color-white: #f2f2f2;
$primary-color-gray-1: #e0e0e0;
$primary-color-gray-2: #646464;
$primary-color-gray-3 :#b1b1b1;

/* BORDER STYLES */
/* BORDER STYLE 1: LOGIN CONTAINER */
@mixin border-style-1($border-line-width){
    border: $border-line-width solid $primary-color-gray-1;
}
/* BORDER STYLE 2: LOGIN SUBMIT */
@mixin border-style-2($border-line-width){
        width: 100%;
        background-color: transparent;
        border: $border-line-width solid $primary-color-orange-1;
}
/* BORDER STYLE 3: MENU TABS */
@mixin border-style-3($border-line-width){
        width: 100%;
        background-color: transparent;
        border: $border-line-width solid $primary-color-gray-2;
}

/* INPUT FIELD STYLES */
/* INPUT FIELD STYLE 1: LOGIN INPUT FIELDS */
@mixin input-style-1($border-line-width){
    border-top: 0;
    border-right: 0;
    border-bottom: $border-line-width solid $primary-color-gray-2;
    border-left: 0;

    background-color: transparent;
    width: 100%;
    
    &:focus{
        outline: none;
        background: transparent;
        box-shadow: 0 10px 20px -7px darkgray;
    }

    @include transition (all 0.30s ease-in-out);
}


/* OVERRIDING CLASSES */
.no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* MAIN */
body{
    background-color: $primary-color-white;
    min-width: 250px;
}

/* ANIMATION EFFECTS */
/* HOVER EFFECT 1: SUBMIT BUTTON & MENU TABS */
@mixin hover-effect-1{
    cursor: pointer;
    background-color: $primary-color-orange-1;
    box-shadow: 1px 1px 20px 2px $primary-color-orange-1;  

    span{
        color: $primary-color-white;
    }
}

/* FOCUS EFFECT 1: SUBMIT BUTTON & MENU TABS */
@mixin focus-effect-1{
    outline: none;
            
    background-color: $primary-color-orange-1;
    box-shadow: 1px 1px 30px 10px $primary-color-orange-2;  
            
    span{
        color:$primary-color-orange-2;
        @include transition (all 0.30s ease-in-out);
    }
}


/* TRANSITION EFFECTS */
@mixin transition($transition...) {
    -moz-transition:    $transition;
    // -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    // -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    // -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    // -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    // -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}




/* OUTLINES */
.b-red{
    border: 1px solid red;
}

.b-blue{
    border: 1px solid blue;
}

.b-green{
    border: 1px solid green;
}

.b-yellow{
    border: 1px solid yellow;
}

.b-black{
    border: 1px solid black;
}